/* Sport Challenge
    0. Variables
    1. HTML Reset
    2. Nav Menu
     2.1. Login Button
    3. Social Sidebar
    4. Contenido Central
     4.1. Formulario
     4.2 Modal
    5. Footer
     Terminos

*/
@font-face {
  font-family: AlpacaScarlett;
  src: url(../fonts/Alpaca-Scarlett-Demo.otf) format("opentype"); }

@font-face {
  font-family: QarantaBold;
  src: url(../fonts/Qaranta-Bold.otf) format("opentype"); }

:root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #000; }

html,
body {
  font-family: QarantaBold, sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1;
  height: 100%;
  overflow: hidden;
  color: #fff; }

/* 1. HTML Reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

img {
  width: 100%;
  display: block; }

ul,
li {
  list-style: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

.globalcontainer {
  margin: auto;
  max-width: 1440px; }

.wrapper {
  margin-right: auto;
  /* 1 */
  margin-left: 15%;
  /* 1 */
  /* 2 */
  padding-right: 10px;
  /* 3 */
  padding-left: 10px;
  /* 3 */ }
  @media screen and (min-width: 1441px) {
    .wrapper {
      margin-left: 25%; } }

/* 2. Nav Menu */
.primaryNav {
  height: 5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  /*Propiedades del Nav en el juego*/ }
  .primaryNav > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .primaryNav > ul > li {
      margin: 0;
      position: relative;
      text-align: center; }
      .primaryNav > ul > li:not(:last-child) {
        border-right: 1.3px solid #16e8ff; }
      .primaryNav > ul > li:hover {
        background: #000; }
        .primaryNav > ul > li:hover a {
          color: #fff; }
        .primaryNav > ul > li:hover ul {
          display: block; }
    .primaryNav > ul a {
      display: block;
      margin: 0;
      padding: .5em;
      text-decoration: none;
      color: #000; }
  .primaryNav--game {
    background-color: #000; }
    .primaryNav--game > ul > li:hover {
      background: #131313; }
    .primaryNav--game > ul a {
      color: #fff; }
    .primaryNav--game > ul ul {
      background-color: #131313; }

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  background-color: #fff;
  font-family: AlpacaScarlett;
  text-align: center;
  color: #000; }
  .submenu li a {
    color: #000 !important; }
  .submenu li :hover {
    background-color: rgba(19, 19, 19, 0.25); }
  .submenu li:not(:last-child) {
    border-bottom: 1px solid #666; }
  .submenu--game li a {
    color: #fff !important; }

/* Login Button */
.button {
  padding: 14px;
  color: white;
  background-color: green;
  border-radius: 0 .2em .2em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .button:hover {
    background-color: #009900; }
  .button--profile {
    background-color: steelblue;
    border-radius: .2em 0 0 .2em;
    margin-right: 5px;
    padding: 5px;
    font-size: 14px; }
    .button--profile:hover {
      background-color: #47a1eb; }
  .button--wallet {
    background-color: darkturquoise;
    border-radius: .2em 0 0 .2em;
    margin-right: 5px;
    padding: 5px;
    font-size: 14px; }
    .button--wallet:hover {
      cursor: pointer;
      background-color: #12e9ed; }
  .button img {
    width: 20px; }

/* 3. Social SideBar */
.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000; }
  .sidebar .container {
    height: 53%;
    /*Bordes del contenedor*/
    background: -webkit-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 30px, #fff 31px), -webkit-radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 30px, #fff 31px), -webkit-radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 30px, #fff 31px), -webkit-radial-gradient(0 0, circle, rgba(204, 0, 0, 0) 30px, #fff 31px);
    background: -o-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 30px, #fff 31px), -o-radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 30px, #fff 31px), -o-radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 30px, #fff 31px), -o-radial-gradient(0 0, circle, rgba(204, 0, 0, 0) 30px, #fff 31px);
    background: radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 30px, #fff 31px), radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 30px, #fff 31px), radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 30px, #fff 31px), radial-gradient(0 0, circle, rgba(204, 0, 0, 0) 30px, #fff 31px);
    background-position: bottom left, bottom right, top right, top left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    width: 75%; }

.logo img {
  width: calc(80% - 10px);
  margin: 10px auto; }

.social img {
  width: 115%;
  position: relative;
  left: -15px; }

.copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 1em 0; }
  .copyright img {
    width: calc(50% - 10px);
    margin: auto; }

/* 4. Contenido Central */
.backg {
  background: #000; }

.score {
  position: absolute;
  z-index: -10; }

.content {
  height: 100%;
  margin-left: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: scroll;
  background-color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .content--game {
    top: -7%;
    background: -webkit-radial-gradient(40vw, circle cover, #555A5F 0%, #000 30%);
    background: -o-radial-gradient(40vw, circle cover, #555A5F 0%, #000 30%);
    background: radial-gradient(40vw, circle cover, #555A5F 0%, #000 30%);
    background-color: #000; }
  @media screen and (min-width: 1441px) {
    .content {
      margin-left: 25%; } }

.bannerTree {
  height: 173px;
  background: url(../img/general/bannerTree.jpg) no-repeat center right;
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 2em; }
  .bannerTree h1 {
    font-size: 32px;
    letter-spacing: 2px;
    color: lawngreen;
    margin-bottom: 10px; }
  .bannerTree a,
  .bannerTree a:visited {
    color: #fff; }
  .bannerTree a:hover {
    color: lawngreen; }

.mainContent {
  background-color: #fff;
  color: #000;
  height: 100vh;
  overflow-x: scroll;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.tittle {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  padding: .5em 3em;
  letter-spacing: 1px;
  margin-top: 1em; }
  .tittle--contact {
    margin: 4em 0 2em; }

/* Formulario */
form {
  text-align: center; }

.contactForm {
  width: 700px;
  height: 300px;
  border: 3px solid #000;
  border-radius: 20px;
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .contactForm input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .contactForm input:not(:last-of-type) {
      margin-right: 10px; }
  .contactForm textarea {
    height: 190px;
    width: 100%;
    margin-bottom: 0; }

input[type="submit"] {
  cursor: pointer; }

input,
textarea {
  border: 3px solid black;
  font-size: 14px;
  font-family: QarantaBold;
  padding: .5em;
  border-radius: 10px;
  margin-bottom: 20px; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #000; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-size: 14px;
    color: #000; }
  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
    color: #000; }

/*Modal*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #424242;
  color: #a0a0a0;
  position: relative;
  margin: 8%;
  margin-left: 15%;
  letter-spacing: 1px;
  line-height: 105%;
  /* 15% from the top and centered */
  padding: 3em;
  border: 1px solid #888;
  width: 70%;
  border-radius: 10px;
  /* Could be more or less, depending on screen size */ }
  .modal-content h1 {
    color: #a4e800;
    text-align: center;
    margin-bottom: 1em; }
  .modal-content ol {
    font-size: 14px; }
    .modal-content ol li {
      list-style-type: decimal; }

#myBtn {
  cursor: pointer; }

/* The Close Button */
.close {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  left: 93%;
  top: 10px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(65%, #0e0e0e), color-stop(90%, white));
  background: -webkit-linear-gradient(left bottom, #0e0e0e 65%, white 90%);
  background: -o-linear-gradient(left bottom, #0e0e0e 65%, white 90%);
  background: linear-gradient(to right top, #0e0e0e 65%, white 90%); }
  .close:hover {
    background: -webkit-gradient(linear, left bottom, right top, color-stop(65%, #1d1a1a), color-stop(90%, white));
    background: -webkit-linear-gradient(left bottom, #1d1a1a 65%, white 90%);
    background: -o-linear-gradient(left bottom, #1d1a1a 65%, white 90%);
    background: linear-gradient(to right top, #1d1a1a 65%, white 90%);
    cursor: pointer; }
    .close:hover .btnClose {
      background-color: #444; }
    .close:hover .btnClose::after,
    .close:hover .btnClose::before {
      border-color: #ccc; }

.btnClose {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  left: 5px;
  top: 5px;
  border-radius: 100%;
  background: #333; }
  .btnClose::after, .btnClose::before {
    content: '';
    position: absolute;
    width: 17px;
    top: 16px;
    left: 7px;
    border: 4px solid #888;
    border-radius: 10px; }
  .btnClose::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btnClose::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/*Terminos y Condiciones */
footer {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../img/general/mancha.png) no-repeat center bottom;
  background-size: contain;
  bottom: 0;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: AlpacaScarlett;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  padding-top: 1em;
  text-align: center;
  height: 130px;
  width: 85%; }
  footer--game {
    color: #fff; }
  footer .terminos {
    position: absolute;
    top: 60%; }
